<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    {% comment %} <h1>our services</h1> {% endcomment %}
    {% comment %} <a href="{% url 'home' %}">Back to Home</a><br> {% endcomment %}
    {% comment %} <a href="{% url 'about' %}">Go to about</a> {% endcomment %}
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">DiseasePredication</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'home' %}">HOME</a></li>    
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'service' %}">SERVICE</a></li> 
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div> 
        <div class="content">
            <h1>Welcome to Our Disease Prediction Services</h1>
            <p>Our app offers a range of services to help you understand and manage your health better. From symptom checking to risk assessments, explore our tools to gain insights into your health and take proactive steps.</p>


        </div>
    </div>
</body>
</html>
